.App {
  max-width: 640px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #00f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.App-header {
  font-size: 1.5rem;
  border: 1px solid #00f;
  margin: 0.5rem;
  padding: 0.5rem;
}

.container {
  display: flex;
}

.App-sidebar {
  padding: 1rem;
}

main {
  padding: 1rem;
}
